# iceFUN board.

# Debug LEDs.
set_io --warn-no-port leds[0]   C10
set_io --warn-no-port leds[1]   A10
set_io --warn-no-port leds[2]   D7
set_io --warn-no-port leds[3]   D6
set_io --warn-no-port leds[4]   A7
set_io --warn-no-port leds[5]   C7
set_io --warn-no-port leds[6]   A4
set_io --warn-no-port leds[7]   C4
set_io --warn-no-port column[0] A12
set_io --warn-no-port column[1] D10
set_io --warn-no-port column[2] A6
set_io --warn-no-port column[3] C5

# Input K.
set_io --warn-no-port pin_k1 C14
set_io --warn-no-port pin_k2 D12
set_io --warn-no-port pin_k3 D14
set_io --warn-no-port pin_k4 E12

# Output O.
set_io --warn-no-port pin_o0  A3
set_io --warn-no-port pin_o1  A2
set_io --warn-no-port pin_o2  A1
set_io --warn-no-port pin_o3  C3
set_io --warn-no-port pin_o4  D3
set_io --warn-no-port pin_o5  B1
set_io --warn-no-port pin_o6  C1
set_io --warn-no-port pin_o7  D1

# Output R.
set_io --warn-no-port pin_r0 F12
set_io --warn-no-port pin_r1 F14
set_io --warn-no-port pin_r2 G12
set_io --warn-no-port pin_r3 G14
set_io --warn-no-port pin_r4 H12
set_io --warn-no-port pin_r5 J12
set_io --warn-no-port pin_r6 K12
set_io --warn-no-port pin_r7 K14
set_io --warn-no-port pin_r8 H11
set_io --warn-no-port pin_r9 L12
set_io --warn-no-port pin_r10 L14

# Clock signal.
set_io --warn-no-port raw_clk   P7

# Speaker.
#set_io --warn-no-port speaker_p M12
#set_io --warn-no-port speaker_m M6

# Buttons.
set_io --warn-no-port button_reset A5
set_io --warn-no-port button_halt A11
set_io --warn-no-port button_program_select C6
set_io --warn-no-port button_0 C11

